.taskContainer {
  display: flex;
  justify-content: space-between;
  margin: 4rem auto 0;
  background: transparent;
  max-width: 736px;
  width: 100%;
}

.taskContainer span {
  font-size: 87.5%;
  font-weight: 700;
  color: var(--blue-400);
}

.taskContainer span:nth-child(2n) {
  color: var(--purple-400);
}
